src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a78aaf2-8842-43ec-be31-586932c462a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="4b9a0b6c-4535-4468-9765-572a199f34b3" >
		<http:listener doc:name="Listener" doc:id="8202f923-902d-4b91-be02-e1e137274390" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["welcome to miracle"]' doc:name="Set Payload" doc:id="8b96248a-7e4f-4b00-b4de-540174266b9c" />
	</flow>
</mule>
